.upload-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #333;
    border: none;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 8px 30px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.upload-button:hover{
    transform: scale(1.05);
}

.upload-button p{
    color: white;
    font-family: 'Calibri', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}   

.upload-icon{
    font-size: 14px;
    color: white;
}

@media (max-width: 800px) {
    .upload-button {
        width: 60%;
        padding: 8px;
    }

    .upload-button p {
        font-size: 24px;
    }

    .upload-icon {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 400px) {
    .upload-button {
        width: 70%;
        padding: 6px;
    }

    .upload-button p {
        font-size: 24px;
    }

    .upload-icon {
        width: 30px;
        height: 30px;
    }
}