.Reportheader-container {
    display: flex;
    align-items: center;
    margin-left: 22%; 
    width: 77%; 
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
}

.Report-logo {
    font-size: 32px;
    font-weight: bold;
    font-family: "Poppins", "Montserrat", "Avenir", "Nunito", "Satoshi", sans-serif;
    color: #333;
    margin-right: auto; 
}

.Report-logo:hover{
    cursor: pointer;
}

.options {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto; 
}

.settings-option, .profile-option {
    background: rgba(255, 255, 255, 1);
    color: #666666; 
    padding: 10px;
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 8px 30px rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(10px);
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.settings-option:hover, .profile-option:hover {
    transform: scale(1.1);
}

.settings-option:active, .profile-option:active {
    transform: scale(1.1);
}

.option-icon {
    font-size: 20px;
    color: #666666;
}

.option-icon:hover {
   font-size: 18px;
}

/* Media Queries */
@media (max-width: 800px) {
    .logo {
        font-size: 24px;
    }

    .Date-time-container {
        padding: 8px;
        font-size: 14px;
    }

    .settings-option, .profile-option {
        padding: 8px;
        width: 18px;
        height: 18px;
    }

    .option-icon {
        font-size: 18px;
    }

    .option-icon:hover {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        font-size: 20px;
    }

    .Date-time-container {
        padding: 6px;
        font-size: 12px;
    }

    .settings-option, .profile-option {
        padding: 6px;
        width: 16px;
        height: 16px;
    }

    .option-icon {
        font-size: 16px;
    }
}
