.hero-section{
    margin-top: 20px;
}

.hero-heading{
    font-family: "Poppins", "Montserrat", "Avenir", "Nunito", "Satoshi", sans-serif;
    font-size: 48px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.hero-subtext{
    font-family: "Poppins", "Montserrat", "Avenir", "Nunito", "Satoshi", sans-serif;
    font-size: 42px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.card-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

a{
    text-decoration: none;
    color: #000;
}

@media (max-width: 768px) {
    .hero-heading {
        font-size: 32px;
    }
    .hero-subtext {
        font-size: 24px;
    }
    .card-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
