.chat-sidebar-container {
    background-color: #F7F7F8;
    padding: 15px;
    width: 270px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.chat-sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    height: 40px;
}

.chat-sidebar-header h2 {
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.sidebar-search-icon {
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.search-icon:hover {
    transform: scale(1.15);
}

.report-list {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    overflow-y: auto;
    flex-grow: 1;
}

.report-list::-webkit-scrollbar {
    width: 5px;
}

.report-list::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 5px;
}

@media (max-width: 800px) {
    .sidebar-container {
        display: none;
    }
}
